<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>

    <!-- styling menggunakan bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- styling css -->
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
      <!-- <section> begin ============================-->
        <section class="pt-5" id="validation">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <h2 class="mb-2 fs-7 fw-bold">404</h2>
                  <h6>NOT FOUND!</h6>
                  <p class="mb-4 fw-medium text-secondary">Ooops something is missing</p>
                </div>
                <div class="col-lg-4"><img class="img-fluid" src="/public/img/mouse.png" alt="" /></div>
              </div>
            </div><!-- end of .container-->
    
          </section>
          <!-- <section> close ============================-->
</body>
</html>
