<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
   <% if(typeof datadata == 'object') { %>
   <% datadata.forEach(function (terima) { %>
    <li><%= terima.name %></li>
    <li><%= terima.age %></li>
    <li><%= terima.eyeColor %></li>
   <% })} %>

</body>
</html>